$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.right {
	text-align: right;
}

.Camps{
	.cardWrapper {

		.right .ant-card-head-title{
			margin-right: pxTorem(-10);
		}
		.subtitle{
			font-size: pxTorem(15);
		}
		.ant-card-extra{
			display: -webkit-box;
		    -webkit-line-clamp: 2;
		    /* autoprefixer: off */
			// 关闭的原因是编译会丢失 -webkit-box-orient
			-webkit-box-orient: vertical;
			/* autoprefixer: on */
		    overflow: hidden;
		}
		.ant-card-body{
			padding-top: 24px;
		}
		.ant-card-head-wrapper{
			display: inherit;
			.ant-card-extra{
				float: none;
				position: relative;
				width: 100%;
				padding: 0px 0px;
				margin-top: -10px;
			}
			.ant-card-head-title{
				width: 100%;
				flex: none;
				text-indent: -10px;
			}
		}
		.ant-card-head-wrapper:after{
			bottom: pxTorem(-16) !important;
			top: inherit !important;
		}
	}
}