$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}


.joinus{
	width: 100%;
	position: relative;
	height: 100%;
	background-color: transparent;

	.header{
		width: 100%;
		position: absolute;
		height: pxTorem(391);
		background: linear-gradient(142deg,rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.83) 100%),url("../img/background_introduce_bottom.png");
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		.logo{
			background: url('../img/logo_medium.png');
			background-repeat: no-repeat;
			width: pxTorem(98);
			height: pxTorem(30);
			display: inline-block;
    		margin-top: 50px;
		}
	}
	.ant-layout-content{
		position: relative;
		padding:pxTorem(259) pxTorem(51) 0 pxTorem(51);
		height: 100%;
		overflow-y:hidden;


		article{
			min-height: pxTorem(220);
			background-color: white;
			padding: pxTorem(50) pxTorem(26) pxTorem(50) pxTorem(26);
			overflow-x: hidden;
			overflow-y: scroll;
			hr{
				color: #E6E6E6;
			}

			.ant-card{
				height: pxTorem(120);
				div.image0, div.image1, div.image2, , div.image3{
					width: pxTorem(45);
					height: pxTorem(45);
					border-radius: 50%;
					margin: auto;
					padding: pxTorem(20) 0 0 pxTorem(20);
					background-repeat: no-repeat;
					background-size: 100%;
				}
				.image0, .image3{
					background-image: url("../img/joinus_2.png");
				}
				.image1{
					background-image: url("../img/joinus_1.png");
				}
				.image2{
					background-image: url("../img/joinus_3.png");
				}
				.link{
					text-align: center;
					margin-top: 15px;
					font-size: pxTorem(15);
					font-weight:500;
				}
			}
		}
	}
}