$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.question.joinus{
	background-color: #333333;
	article{
		padding: pxTorem(26) pxTorem(26) pxTorem(26) pxTorem(26);
		min-height: pxTorem(500);
	}
	.ant-layout-content{
		padding:pxTorem(50) pxTorem(50) pxTorem(50)  pxTorem(50) !important;
		overflow-y: scroll !important;
		h3{
			font-size: pxTorem(15);
			color: #333333;
		}
		.wrapper{
			font-size: pxTorem(12);
			color: #666666;
			margin-bottom: pxTorem(15);
		}
		.right{
			text-align: center;
		}
	}
	.ant-row{
		margin-left: 0px !important;
		margin-right: 0px  !important;
		.ant-input-group-wrapper{
		}
		input{
			border: 0 !important;
		}
		input[type='checkbox']{
			height: pxTorem(18);
		    width: pxTorem(18);
		    margin-right: pxTorem(7);
		    vertical-align: middle;
		}
		hr{
			color: #E6E6E6;
		}
		.ant-input-group-addon{
			padding-left: 0 !important;
			padding-right: 0.25rem !important;
		}
		.ant-input-group-addon, .ant-input-group-addon:first-child{
			border: 0 !important;
    		background: none !important;
		}
	}
}