$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.nodata{
	text-align: center;
	margin-top:10px;
}

#root .teaches{
	background-color: white;
	padding: pxTorem(50);

	.ant-layout-content{
		min-height: pxTorem(180);
		-webkit-box-shadow: pxTorem(0) pxTorem(1) pxTorem(3) pxTorem(4) rgba(0, 0, 0, 0.10);
	 	-moz-box-shadow: pxTorem(0) pxTorem(1) pxTorem(3) pxTorem(4) rgba(0, 0, 0, 0.10);
	 	box-shadow: pxTorem(0) pxTorem(1) pxTorem(3) pxTorem(4) rgba(0, 0, 0, 0.10);
	}

	Button{
		width: pxTorem(100);
		height: pxTorem(30);
		font-size: pxTorem(12);
	}
	
	.finish{
	    height: 3em;
	    background: gray;
	    display: block;
	    /*font-size: 1.2em;
	    line-height: 3em;*/
	    text-align: center;
	    color: white;
	}
	.cardWrapper{
		height: pxTorem(308) !important;
		overflow:hidden;
		padding: 0rem;
		.image{
			height: 100%;
			width: 100%;
			margin-top: 0;
			border-radius: 0rem;
			background-size: cover;
		}
		.ant-row{
			margin-right: 0rem !important;
			margin-left: 0rem !important;
		}
		.ant-col-12{
			height: pxTorem(308) !important;
			padding-right: 0rem !important;
			padding-left: 0rem !important;
		}
		.ant-card{
			padding:0 pxTorem(50);
		}
		.pwrpper{
			width: 100%;
			height: pxTorem(80);
			padding-top: pxTorem(5);
			display: -webkit-box ;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden ;
			p{
				margin-bottom: 	0;
			}
		}
		.ant-card-head{
			border-bottom: 0px;
		}

		.ant-card-head-wrapper{
			position: relative;
		}

		.ant-card-head-title{
			/*overflow:visible;*/
			position: relative;
			word-wrap:break-word;
    		white-space: normal;
    		display: -webkit-box;
		    -webkit-line-clamp: 2;
		    padding-bottom: 12px;
		    /* autoprefixer: off */
			// 关闭的原因是编译会丢失 -webkit-box-orient
			-webkit-box-orient: vertical;
			/* autoprefixer: on */
		    overflow: hidden;
		}

		.ant-card-head-wrapper:after{
			bottom: pxTorem(-4);
			top: inherit !important;
		}

		.left .ant-card-head-wrapper:after{
			left: 0%;
			text-align: left;
		}
		.right .ant-card-head-wrapper{
			text-align: right;
		}
		.right .ant-card-head-wrapper:after{
			right: 0%;
			left: inherit;
		}
	}
}