$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}


#root .camp.detail {
	background-color: white !important;
	height: auto !important;
	.header{
		height: pxTorem(390);
		backgroud-color: gray; 
		img{
			background-size: cover;
		}
		.slick-dots{
			bottom: pxTorem(73);
		    left: 50% !important;
		    right: inherit;
		    height: pxTorem(13);
		    line-height: pxTorem(13);
		}
	}

	.content{
		margin: pxTorem(-50) pxTorem(50) pxTorem(60) pxTorem(50);
		position: relative;
	}

	.ant-layout-content{
		box-shadow: inherit;
		padding: 0;
		margin-top: pxTorem(-40);
		margin-left: pxTorem(-40) ;
		margin-right: pxTorem(-40) ;
	}
}