$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}


.detail {
	width: 100%;
	position: relative;
	
	.header {
		height: pxTorem(300);
		overflow:hidden;
		width: 100%;
		img{
			width: 100%;
		}

		.slick-dots{
			right: pxTorem(50);
			bottom: pxTorem(20);
			left: inherit !important;
    		margin-left: 0 !important;
    		display: inline-block;
		}
	}
	.content.teaches {
		overflow:scroll;
		padding: pxTorem(40) pxTorem(50);
		margin-bottom: pxTorem(60);
		.title{
			text-align: center;
			width: 100%;
			height:pxTorem(20);
			font-size:pxTorem(20);
			font-weight:500;
			line-height:pxTorem(20);
		}
		.desc{
			margin-top: pxTorem(17);
			margin-bottom: pxTorem(30);
			font-size:pxTorem(12);
			line-height:pxTorem(18);
		}
		.ant-layout-content{
			height: 100%;
			overflow-y: scroll;
			padding: pxTorem(30);
		}
	}
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: pxTorem(60);
		line-height: pxTorem(60);
		text-align: center;
		background-color: white;
		z-index: 1;
		box-shadow:0px pxTorem(-1) pxTorem(15) 0 rgba(0,0,0,0.1);
	 	Button{
	 		width: pxTorem(300);
	 	}
	}
}

.detail.couch{
	background: white;
	.header{
		height: pxTorem(350);
	}
}

.detail.training{
	.content {
		video{
			min-height: pxTorem(300);
		}
	}
}