$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.product.detail{
	.header{
		height: pxTorem(300);
		.slick-dots{
			right: pxTorem(50);
		}
	}
	.buyWapper{
		position: absolute;
		bottom: 0;
		left: 10%;
		height: pxTorem(60);
		padding-bottom: pxTorem(30);
		background-color: white;
		width: 80%;
	}
}