$browser-default-font-size: 64 !default;

html { font-size: $browser-default-font-size; }

@function pxTorem($px){
	@return $px / $browser-default-font-size * 1rem; 
}

.background-white{
	background-color: white;
}
.background-gray{
	background: repeating-linear-gradient(
      90deg,
      #F9F9F9 0,
      #F9F9F9 31.625%,
      #2D2D45 31.625%,
      #121212 100%
    ), white;
}
.background-black{
	background-color: black;
}
.text-white{
	color: white;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

/*loading*/
.loading{
	padding-top: 10%;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: pxTorem(-12.5);
}
.ant-layout-sider{
	display: none;
}

.tab{
	position: absolute;
    height: pxTorem(40);
    line-height: pxTorem(40);
    background-color: rgb(47, 48, 48);
    color: #fff;
    font-size: pxTorem(25);
    z-index: 2;
    text-align: center;
    display: flex;
    width: 100%;
    .anticon{
    	width: 10%;
    	text-align: left;
    	line-height: pxTorem(40);
    }
    .title{
    	width: 90%;
    	text-align: center;
    	position: relative;
    	margin-left: -6%;
    }
}


.modal.tab{
	position: absolute;
	background-color: transparent;
	top: pxTorem(-30);
}
/*无数据*/
.noData{
	text-align: center;
	padding-top: 10px;
}
/* 菜单icon*/
.logo{
	background: url('./img/logo.png');
	background-repeat: no-repeat;
	width: pxTorem(100);
	height: pxTorem(35);
	margin-top: pxTorem(20);
	margin-left: pxTorem(20);
}
.anticon.anticon-home{
	background: url('./img/introduce.png');
	background-repeat: no-repeat  !important;
	width: 10px;
	height: 12px;
	svg{
		display:none;
	}
}
.ant-menu-submenu:hover .anticon.anticon-home,.ant-menu-submenu-open .anticon.anticon-home{
	background: url('./img/introduce_active.png');
	background-repeat: no-repeat !important;
	width: 10px;
	height: 12px;
}
.anticon.anticon-teach{
	background: url('./img/teachcontent.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.ant-menu-submenu:hover .anticon.anticon-teach,.ant-menu-submenu-open .anticon.anticon-teach{
	background: url('./img/teachcontent_active.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.anticon.anticon-teach{
	background: url('./img/teachcontent.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.ant-menu-submenu:hover .anticon.anticon-teach,.ant-menu-submenu-open .anticon.anticon-teach{
	background: url('./img/teachcontent_active.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.anticon.anticon-couches{
	background: url('./img/couch.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.ant-menu-item:hover .anticon.anticon-couches,.ant-menu-item-selected .anticon.anticon-couches{
	background: url('./img/couch_active.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.anticon.anticon-products{
	background: url('./img/onlineshop.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.ant-menu-item:hover .anticon.anticon-products,.ant-menu-item-selected .anticon.anticon-products{
	background: url('./img/onlineshop_active.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.anticon.anticon-trainings{
	background: url('./img/onlinescoll.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.ant-menu-item:hover .anticon.anticon-trainings,.ant-menu-item-selected .anticon.anticon-trainings{
	background: url('./img/onlinescoll_active.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.anticon.anticon-joinus{
	background: url('./img/joinus.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
.ant-menu-item:hover .anticon.anticon-joinus,.ant-menu-item-selected .anticon.anticon-joinus{
	background: url('./img/joinus_active.png');
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}
button{
	color: #AEBE43 !important;
	background-color: #1A1A24 !important;
	border-radius: pxTorem(2);
}
ul.li-Star li{
	list-style-type: "★" !important;
}

/*卡片菜单*/
.navigator{
	.menuCard{
		height: pxTorem(340);
		font-size: pxTorem(60);
		font-weight: 500;
		text-align: center;
		padding: pxTorem(58) 0;
		color: white;
		border: 0px;
		.en{
			font-size: pxTorem(30);
		}
	}

	.ant-modal-content{
		background-color: transparent;
	}
	.ant-col-12{
		background-color: transparent;
	}

	.ant-col-12:nth-child(1) .menuCard{
		background-color: #bbc919;
	}

	.ant-col-12:nth-child(2) .menuCard{
		background-color: #1f8595;
	}

	.ant-col-12:nth-child(3) .menuCard{
		background-color: #1f8595;
	}

	.ant-col-12:nth-child(4) .menuCard{
		background-color: #bbc919;
	}

	.ant-col-12:nth-child(5) .menuCard{
		background-color: #bbc919;
	}

	.ant-col-12:nth-child(6) .menuCard{
		background-color: #1f8595;
	}
}


#root{
	width: 100%;
	height: 100%;
	font-family: PingFangSC-Regular, sans-serif;
	.ant-layout{
		background: transparent !important;
		height: 100%;
		position: relative;
		margin-left: -1px;
	}

	.ant-layout-sider{
		width: pxTorem(225) !important;
		max-width: pxTorem(225) !important;
		min-width: pxTorem(225) !important;

		background:linear-gradient(224deg,rgba(36,36,47,1) 0%,rgba(18,18,18,1) 100%) !important;
		.ant-menu{
			background:linear-gradient(204deg,rgba(26,26,36,1) 0%,rgba(28,28,36,1) 100%) ;
		}
		.ant-menu-dark .ant-menu-submenu-open{
			margin-right: 1px;
			border-left: 3px solid #AEBE43;
			background:linear-gradient(204deg,rgba(26,26,36,1) 0%,rgba(28,28,36,1) 100%) ;
		}
		.ant-menu-dark .ant-menu-inline.ant-menu-sub{
			box-shadow: none;
		}
		.ant-menu-item-selected{
			background-color: inherit;
		}

		.ant-menu-dark .ant-menu-submenu-open,.ant-menu-dark .ant-menu-item:hover > a,.ant-menu-submenu:hover, .ant-menu-item:hover,.ant-menu-submenu-title:hover,.ant-menu-submenu-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
			color: #AEBE43 !important;

		}
		.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
			background: inherit;
		}
		.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
			line-height: pxTorem(45);
			height: pxTorem(45);
		}
		.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
			padding-left: pxTorem(33);
		}
		.ant-layout-sider-trigger{
			display: none;
		}
	}
	

	.ant-menu-dark  a{
		display: inline-block;
	}
	.shadow{
		-webkit-box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.10);
	 	-moz-box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.10);
	 	box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.10);
	}
	img, video{
		max-width: 100% !important;
	}

	/*走马灯样式*/
	.ant-carousel {
		margin: auto;
		.slick-dots{
			height: pxTorem(10);
			line-height: pxTorem(10);
			padding: pxTorem(2.5) pxTorem(7);
			background-color: rgba(255,255,255,0.5);
			display: inline-block;
			width: auto;
			left: 50%;
			margin-left: pxTorem(-25);
			border-radius: pxTorem(13);
		    li.slick-active {
		    	button{
		    		border: pxTorem(1) solid #ECD6AC;
		    		background: #ECD6AC !important;
		    	}
		    }
		    li{
		    	button{
		    		border: pxTorem(1) solid #FFF;
		    		background: transparent!important;
		    		position: relative;
		    	    height: pxTorem(5);
				    width: pxTorem(5);
				    border-radius: pxTorem(13);
			    }
		   	}
		   	li{
		   		margin-right: pxTorem(7);
		   	}
		   	li:last-child{
		   		margin-right: pxTorem(0);
		   	}
		}
	}
	/*基础卡片样式*/
	.cardWrapper{
		padding: 0 pxTorem(50) pxTorem(55) pxTorem(50) ;

		.ant-card{
			background-color: transparent;
			color: #333;
			.ant-card-head, .ant-card-body{
				padding: 0;
			}
			.ant-card-head{
				font-size:pxTorem(20);
				font-weight:500;
				padding-top: pxTorem(31);
				border-bottom: 0;
			}
			.ant-card-body{
				padding-top: pxTorem(16);
				.address{
					font-weight:500;
					color:rgba(51,51,51,1);
					line-height: pxTorem(15);
				}
			}
			.ant-card-head-wrapper:after {
			    content: '';
			    position: absolute;
			    top: pxTorem(90);
			    background: #AEBE43;
			    width: pxTorem(60);
			    height: pxTorem(3);
			}
			.ant-card-head-wrapper:after{
				left: 0%;
				text-align: left;
			}
		}
		div.image{
			margin-top: pxTorem(50);
			background-color: transparent;
		}
		.image{
			border-radius: pxTorem(6);
			width: pxTorem(300);
			height: pxTorem(200);
			background-repeat: no-repeat;
			background-size: cover;
			background-color: transparent;
			/*向右对齐*/
			margin-left: auto;
			overflow: hidden;
		}
	}
}



